.checkout {/* 4.1 */
display: flex;
padding: 20px;
background-color: white;
height: max-content; /* ?? */
}

.checkout__ad { /* 4.1 */
width: 100%;
margin-bottom: 10px;
}

.checkout__title {/* 4.1 */
margin-right: 10px;
padding: 10px;
border-bottom: 1px solid lightgrey; /* 4.1 to have a grey line at bottom of the title */
}